In [1]:
import pandas as pd
pd.__version__

'1.1.3'

In [2]:
contracts = pd.read_csv (r'C:\Users\Cameron Taatjes\bip-python\sales_analysis\data\contracts.csv')
pd.Index([u'contract_id',u'customer_id',u'contract_start',u'contract_term',u'deposit',u'monthly_amt'], dtype = 'object')
print(contracts)

customers = pd.read_csv (r'C:\Users\Cameron Taatjes\bip-python\sales_analysis\data\customers.csv')
pd.Index([u'id',u'company',u'sector',u'industry',u'email',u'address',u'city',u'state',u'zip'], dtype = 'object')
print(customers)

merged_df = pd.merge(left=customers, right=contracts, how='left', left_on='id', right_on='customer_id')
print(merged_df)

# Total Sales
merged_df.groupby('state').sum('monthly_amt')

     contract_id  customer_id contract_start  contract_term     deposit  \
0              1          127      8/17/2019             12  $53,000.00
1              2          119      12/1/2019             22  $77,000.00
2              3          160       5/1/2019             15  $13,000.00
3              4            7      12/8/2019             23  $56,000.00
4              5          144      2/11/2019              7  $21,000.00
..           ...          ...            ...            ...         ...
995          996           57      11/8/2019             15  $38,000.00
996          997          126      1/13/2019             20  $28,000.00
997          998           89       5/8/2019              7  $73,000.00
998          999           52      3/26/2019              7  $63,000.00
999         1000            3      3/19/2019             16  $23,000.00

    monthly_amt
0    $11,600.00
1    $14,600.00
2    $22,800.00
3    $11,400.00
4    $19,800.00
..          ...
995   $5,300.00
996  $16,000.00
997  $18,400.00
998  $21,600.00
999  $15,700.00

[1000 rows x 6 columns]
      id       company            sector  \
0      1     Bubblebox     Capital Goods
1      2          Izio            Energy
2      3  Twitterworks               NaN
3      4          Viva       Health Care
4      5   Jabberstorm        Technology
..   ...           ...               ...
245  246      Livefish            Energy
246  247          Katz               NaN
247  248         Yombu  Public Utilities
248  249       Dynazzy               NaN
249  250   Twitterwire        Technology

                                    industry                      email  \
0              Military/Government/Technical   kyerson0@bizjournals.com
1                       Oil & Gas Production        farlet1@comcast.net
2                                        NaN         alerohan2@ox.ac.uk
3                      Major Pharmaceuticals   wgiovanitti3@nytimes.com
4    Computer Software: Prepackaged Software          pscallon4@fc2.com
..                                       ...                        ...
245              Oilfield Services/Equipment      gcressy6t@twitter.com
246                                      NaN        siacobini6u@fc2.com
247                 Natural Gas Distribution        ccandy6v@tumblr.com
248                                      NaN   lmothersole6w@nsw.gov.au
249                           Semiconductors  haseef6x@miitbeian.gov.cn

                        address            city state    zip
0               76 Randy Circle       San Diego    CA  92170
1    15360 Village Green Street         Spokane    WA  99252
2                 29 Hovde Hill       Milwaukee    WI  53234
3              074 Center Place          Topeka    KS  66667
4                   4 Moose Way     Terre Haute    IN  47805
..                          ...             ...   ...    ...
245        05019 Eastwood Alley     Brooksville    FL  34605
246       6567 Old Shore Center           Omaha    NE  68134
247          6442 Vahlen Avenue  Salt Lake City    UT  84125
248           15 Oakridge Court   New York City    NY  10060
249             8190 Rusk Point         Seattle    WA  98166

[250 rows x 9 columns]
       id      company            sector                       industry  \
0       1    Bubblebox     Capital Goods  Military/Government/Technical
1       1    Bubblebox     Capital Goods  Military/Government/Technical
2       1    Bubblebox     Capital Goods  Military/Government/Technical
3       1    Bubblebox     Capital Goods  Military/Government/Technical
4       1    Bubblebox     Capital Goods  Military/Government/Technical
...   ...          ...               ...                            ...
1046  246     Livefish            Energy    Oilfield Services/Equipment
1047  247         Katz               NaN                            NaN
1048  248        Yombu  Public Utilities       Natural Gas Distribution
1049  249      Dynazzy               NaN                            NaN
1050  250  Twitterwire        Technology                 Semiconductors

                          email                address            city state  \
0      kyerson0@bizjournals.com        76 Randy Circle       San Diego    CA
1      kyerson0@bizjournals.com        76 Randy Circle       San Diego    CA
2      kyerson0@bizjournals.com        76 Randy Circle       San Diego    CA
3      kyerson0@bizjournals.com        76 Randy Circle       San Diego    CA
4      kyerson0@bizjournals.com        76 Randy Circle       San Diego    CA
...                         ...                    ...             ...   ...
1046      gcressy6t@twitter.com   05019 Eastwood Alley     Brooksville    FL
1047        siacobini6u@fc2.com  6567 Old Shore Center           Omaha    NE
1048        ccandy6v@tumblr.com     6442 Vahlen Avenue  Salt Lake City    UT
1049   lmothersole6w@nsw.gov.au      15 Oakridge Court   New York City    NY
1050  haseef6x@miitbeian.gov.cn        8190 Rusk Point         Seattle    WA

        zip  contract_id  customer_id contract_start  contract_term  \
0     92170         41.0          1.0      5/31/2019           24.0
1     92170        358.0          1.0      6/18/2019           13.0
2     92170        400.0          1.0      8/11/2019           19.0
3     92170        424.0          1.0      3/13/2019           15.0
4     92170        438.0          1.0     10/16/2019           22.0
...     ...          ...          ...            ...            ...
1046  34605          NaN          NaN            NaN            NaN
1047  68134          NaN          NaN            NaN            NaN
1048  84125          NaN          NaN            NaN            NaN
1049  10060          NaN          NaN            NaN            NaN
1050  98166          NaN          NaN            NaN            NaN

         deposit monthly_amt
0     $86,000.00  $11,200.00
1     $74,000.00  $19,000.00
2     $38,000.00   $8,800.00
3     $77,000.00  $14,300.00
4     $39,000.00  $20,000.00
...          ...         ...
1046         NaN         NaN
1047         NaN         NaN
1048         NaN         NaN
1049         NaN         NaN
1050         NaN         NaN

[1051 rows x 15 columns]

          id      zip  contract_id  customer_id  contract_term
state
AK       817   895608       3586.0        584.0          110.0
AL      1691   325254       3333.0       1246.0           87.0
AR       254   216629        741.0         16.0            9.0
AZ      1538  1960418      10028.0       1307.0          268.0
CA      8965  8448007      44024.0       8302.0         1080.0
CO      2449  2737171      15505.0       2449.0          369.0
CT      2335    86041       5576.0       1904.0           93.0
DC      3757   649393      16273.0       3757.0          374.0
DE      2261   276684       7738.0       2261.0          175.0
FL      9128  2452280      34947.0       8442.0          863.0
GA      1767   487975       8673.0       1564.0          140.0
HI       202    96825          0.0          0.0            0.0
IA       443   100640          0.0          0.0            0.0
ID      2217  1507301       8863.0       2217.0          181.0
IL      2580  1530615      12865.0       2134.0          275.0
IN       610   519921       5261.0        610.0          107.0
KS      2724  2854740      23929.0       2724.0          597.0
KY      1309   445665       6802.0       1309.0          136.0
LA      2983  2327807      14534.0       2983.0          415.0
MA      1080    13830       3090.0       1080.0           94.0
MD      1474   378711       8566.0       1474.0          217.0
ME       552    16436        682.0        552.0           74.0
MI      2751  1072561      10512.0       2272.0          247.0
MN      2242  1054134       9426.0       1999.0          236.0
MO      3101  1736051      14999.0       2877.0          284.0
MS       960   235830       2034.0        960.0           91.0
NC      2581   696712      12492.0       2581.0          289.0
NE      3033  1570100      10968.0       2786.0          318.0
NJ       132     8650          0.0          0.0            0.0
NM       201    87201          0.0          0.0            0.0
NV       963   802428       5673.0        963.0           99.0
NY      4166   572093      20250.0       3007.0          489.0
OH      5221  1596070      16309.0       4536.0          398.0
OK      4476  2653529      20096.0       4016.0          372.0
OR      2593  2139040       9475.0       2593.0          329.0
PA      3885   538568      12321.0       3451.0          429.0
SC       930   148125       2646.0        930.0           41.0
TN      1779   642687       8108.0       1569.0          217.0
TX     11497  8596933      50724.0      10180.0         1231.0
UT       248    84125          0.0          0.0            0.0
VA      3154   846785      18210.0       2723.0          407.0
WA      5546  5616563      28081.0       4830.0          701.0
WI      1799  1284182      12045.0       1799.0          249.0
WV       555   132525       1115.0        555.0           57.0